{% extends "auctions/layout.html" %}

{% block title %}
    {{name}}'s WatchList
{%endblock%}

{% block body%}
    <h1>WatchList</h1>

    <hr>
    {% if not message %}

        <div class="container">
            <div class = "row">
                {% for item1, item2 in mylist %}

                <div class="card col-sm" style="width: 18rem;">
                    <img class="card-img-top" src="{{MEDIA_ROOT}}/{{item2.image}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><a class="card-title font-weight-bold" href="{% url 'listing' item1.title %}"> {{item1.title}} </a></h5>
                        <p class="card-text">{{item1.body}}</p>
                        <a href="{% url 'listing' item1.title %}" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-up" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M4.854 1.146a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L4 2.707V12.5A2.5 2.5 0 0 0 6.5 15h8a.5.5 0 0 0 0-1h-8A1.5 1.5 0 0 1 5 12.5V2.707l3.146 3.147a.5.5 0 1 0 .708-.708l-4-4z"/>
                          </svg> &nbspGo to Post</a>
                    </div>
                </div>

                {%endfor%}
            </div>
        </div>
    {%endif%}
    {% if message %}
        <p>Seems like you haven't whishlisted anytthing</p>
    {%endif%}

{%endblock%}